
CaritasCollect/CaritasCollect.xcodeproj/project.xcworkspace/xcuserdata/santiagoremesinguanzo.xcuserdatad/UserInterfaceState.xcuserstate
CaritasCollect/CaritasCollect.xcodeproj/project.xcworkspace/xcuserdata/alumno.xcuserdatad/UserInterfaceState.xcuserstate
CaritasCollect/.DS_Store
